@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html {
  font-size: 90% !important; /* Adjust this value as needed */
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}

/* General form styling */
.form-group {
  margin-bottom: 1rem;
}

.form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* General form control styling */
.form-control,
.form-select,
.form-textarea {
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
  background: white !important;
  border: 1px solid gainsboro !important;
  color: black !important;
}

/* Focused state for form control */
.form-control:focus,
.form-select:focus,
.form-textarea:focus {
  border-color: #00070e;
  outline: none;
  box-shadow: 0 0 0 0.15rem rgba(174, 174, 175, 0.25);
  background: white !important;
  border: 1px solid rgb(22, 22, 22) !important;
  color: black !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(219, 218, 218);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}

.base-color-text {
  color: #376cdf;
}

.base-color-background {
  background-color: #376cdf !important;
}

.sidebar,
.navbar,
.sidebar-brand-wrapper {
  background-color: #f5f5f5 !important;
  color: black;
}

.sidebar-brand-wrapper,
.card,
.content-wrapper {
  color: black !important;
  background: #f5f5f5 !important;
}

.card {
  border: 1px solid gainsboro;
  color: black !important;

  .card-header {
    background-color: white !important;
    border-bottom: none !important;
  }
}

.modal-content {
  background: white !important;
  color: black !important;
  border: 1px solid #e9eaee !important;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-open .modal {
  background: rgba(14, 13, 13, 0.6) !important;
  opacity: 1 !important;
  z-index: 100000 !important;
}

.modal-header,
.modal-footer {
  border: none !important;
  background: white !important;
}

.badge-info {
  background-color: #0a7bd8 !important;
  border-radius: 7px;
}

.badge-default {
  background-color: #dee2e6 !important;
  border-radius: 7px;
  color: black !important;
}

.bg-gray {
  background-color: #f0f1f1 !important;
}

.bg-gray-light {
  background-color: #ecebeb !important;
}

.border-none {
  border: none !important;
}

.btn-primary {
  background-color: #376cdf !important;
  border: none !important;
  color: #fff !important;
  border-radius: 5px;
}

.border-primary {
  border-color: #2c52a3 !important;
}

.badge-primary {
  background-color: #376cdf !important;
}

.btn-close-modal {
  cursor: pointer;
  border: 1px solid rgb(184, 182, 182);
  background-color: white;
  border-radius: 5rem;
}

.breadcrumb {
  li {
    border-radius: 15px;
  }

  a {
    border: 1px solid gainsboro !important;
    border-radius: 15px;
    display: inline-block;
    padding: 1px 15px;
  }
}


